@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
@font-face {
  font-family: "H1Title";
  src: url('/res/font/Piximisa.ttf');
}
@font-face {
  font-family: "bgText";
  src: url('/res/font/Geosans.ttf');
}
h1 {
  width: 80%;
  text-align: center;
  font-family: "H1Title";
  margin-top: 2.5%;
  letter-spacing: 3px;
}
.container {
  height: 100%;
  width: 80%;
  margin: 0 auto;
}
/* 简略图片 */
.gamebg {
  width: 100%;
  height: 30%;
  margin-top: 1%;
  opacity: .7;
  border-radius: 1%;
}
.gamebg:hover {
  opacity: 1;
  cursor: pointer;
}
.gamebg:hover span:nth-child(1) {
  left: 12%;
}
.gamebg:hover span:nth-child(2) {
  left: 2%;
}
.gamebg span:nth-child(1) {
  position: relative;
  top: 35%;
  left: 8%;
  color: white;
  font-size: 30px;
  transition: all 0.4s;
}
.gamebg span:nth-child(2) {
  position: relative;
  top: 50%;
  left: 0%;
  color: white;
  font-size: 20px;
  font-style: italic;
  transition: all 0.4s;
}
.warframeBg {
  width: 100%;
  height: 30%;
  margin-top: 1%;
  opacity: .7;
  border-radius: 1%;
  background-image: url("/res/pic/ivara.jpg");
  background-size: cover;
  font-family: "bgText";
  letter-spacing: 1px;
  transition: background-image 0.1s;
}
.warframeBg:hover {
  opacity: 1;
  cursor: pointer;
}
.warframeBg:hover span:nth-child(1) {
  left: 12%;
}
.warframeBg:hover span:nth-child(2) {
  left: 2%;
}
.warframeBg span:nth-child(1) {
  position: relative;
  top: 35%;
  left: 8%;
  color: white;
  font-size: 30px;
  transition: all 0.4s;
}
.warframeBg span:nth-child(2) {
  position: relative;
  top: 50%;
  left: 0%;
  color: white;
  font-size: 20px;
  font-style: italic;
  transition: all 0.4s;
}
